body{
	background: #C0E1B9;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "files editor";
}
ul {
	list-style: none;
}

li {
	width: max-content;
	padding: 5px;
	margin: 2px;
	/*background-color: lightblue;*/
	font-family: arial;
	border-radius: 8px;
	background: lightblue;

}
.editor{
	margin-left: 50px;
	grid-area: editor;

}

.files{
	grid-area: files;
}

#editorr{

}
